/*****howard*****/
/* #howard(headerhdm8ad340b3) #css starts  */
.headerhdm8ad340b3 .logo{
    max-height: 35px
}
.headerhdm8ad340b3 .navbar-light .navbar-nav .nav-link {
    color: #33363D
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #11CBD7
}
.headerhdm8ad340b3 .btn-primary{
    background-color: #11CBD7;
    border: none;
    color: #33363D
}
.headerhdm8ad340b3 .btn-primary:hover,
.headerhdm8ad340b3 .btn-primary:not(:disabled):not(.disabled):active
{
    background-color: #11CBD7;
    border: none;
    color: #33363D
}
/* #howard(headerhdm8ad340b3) #css ends  */
/*****howard*****/

/*****agni*****/
/* #agni(cded716dce36a6e8) #css starts  */
.aboutcded716dce36a6e8 .DescriptionPara {
    color: #808080;
    font-size: 20px
}
.aboutcded716dce36a6e8 .badge{
    padding: 2.5rem 0
    }
.aboutcded716dce36a6e8 .badge{
    display: none
    }
.aboutcded716dce36a6e8 .searchBtn{
    background-color: #11CBD7;
    border-radius: 4px;
    color: #33363D;
    font-weight: 600
}
/* #agni(cded716dce36a6e8) #css ends  */
/*****agni*****/

/*****atami*****/
/* #atami(d390a380620aac0e) #css starts  */
.aboutd390a380620aac0e{
    padding: 2.5rem 0
}
.aboutd390a380620aac0e .video_card::before {
    background-color: #808080
}
.aboutd390a380620aac0e .video_card>.btn {
    color: #11CBD7
}
.aboutd390a380620aac0e .video_card>.btn:active {
    color: #fff
}
/* #atami(d390a380620aac0e) #css ends  */
/*****atami*****/

/*****felicity*****/
/* #felicity(felicityfr3poxt3ngm) #css starts */
.felicityfr3poxt3ngm{
    padding: 4.5rem 0
  }
  .felicityfr3poxt3ngm h3{
    font-size: 16px;
    margin-top: 15px
  }
  .felicityfr3poxt3ngm strong {
    font-weight: revert
}
.felicityfr3poxt3ngm .btn-primary {
    color: #33363D;
    background-color: #11CBD7;
    border-color: #11CBD7;
    border-radius: 4px;
    font-weight: 600
}
.felicityfr3poxt3ngm .btn-primary:hover,
.felicityfr3poxt3ngm .btn-primary:not(:disabled):not(.disabled):active,
.felicityfr3poxt3ngm .btn-primary:focus {
    color: #33363D;
    background-color: #11CBD7;
    border-color: #11CBD7
}
/* #felicity(felicityfr3poxt3ngm) #css starts */
/*****felicity*****/

/*****cua*****/
    /* #cua(cuarMp1u6yraxTi11Q) #css starts  */
    .cuarMp1u6yraxTi11Q h1{
        font-size: 32px
    }
    .cuarMp1u6yraxTi11Q .lead {
        font-size: 20px
    }
    .cuarMp1u6yraxTi11Q .btn-primary {
        color: #33363D;
        background-color: #11CBD7;
        border-color: #11CBD7;
        font-weight: 600
    }
.cuarMp1u6yraxTi11Q .btn-primary:hover,
.cuarMp1u6yraxTi11Q .btn-primary:not(:disabled):not(.disabled):active,
.cuarMp1u6yraxTi11Q .btn-primary:focus {
        color: #33363D;
        background-color: #11CBD7;
        border-color: #11CBD7
}
/* #cua(cuarMp1u6yraxTi11Q) #css starts */
/*****cua*****/

/*****coe*****/
/* #coe(calltoactionca00jikay2r) #css starts */
.calltoactionca00jikay2r h1{
    font-size: 32px
}
.calltoactionca00jikay2r .btn-primary {
    color: #33363D;
    background-color: #11CBD7;
    border-color: #11CBD7;
    font-weight: 600
}
.calltoactionca00jikay2r .lead {
    font-size: 20px
}
.calltoactionca00jikay2r .btn-primary:hover,
.calltoactionca00jikay2r .btn-primary:not(:disabled):not(.disabled):active{
    color: #33363D;
    background-color: #11CBD7;
    border-color: #11CBD7
}
/* #coe(calltoactionca00jikay2r) #css starts */
/*****coe*****/

/*****faye*****/
/* #faye(fayete8bna5e4lc) #css starts */
.fayete8bna5e4lc .fdb-block {
    padding: 4.5rem 0
}
.fayete8bna5e4lc .fdb-block .fdb-box {
    padding: 1.75rem 2.5rem
}
.fayete8bna5e4lc .fdb-block .fdb-box:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px
}
.fayete8bna5e4lc h2{
    font-size: 20px;
    font-weight: 600
}
     .fayete8bna5e4lc .fdb-block .fdb-touch {
      border-top: solid 0.3125rem #fff
     }
     .fayete8bna5e4lc a {
        color: #33363D;
        font-weight: 600
    }
    .fayete8bna5e4lc a:hover {
        color: #11CBD7;
        font-weight: 600
    }
/* #faye(fayete8bna5e4lc) #css starts */
/*****faye*****/

/*****tanesha*****/
/* #tanesha(teamtmp7126e7kx) #css starts */
.teamtmp7126e7kx h1{
    font-size: 32px
}
.teamtmp7126e7kx .fdb-block {
    padding: 2.5rem 0
}
/* #tanesha(teamtmp7126e7kx) #css starts */
/*****tanesha*****/


/*****fedrick*****/
/* #fedrick(formft4wqz7r3sf) #css starts */  
.formft4wqz7r3sf .fdb-block {
    padding: 4.5rem 0
}
.formft4wqz7r3sf .lead {
    font-size: 20px
}
.formft4wqz7r3sf .btn-primary {
    color: black;
    background-color: #11CBD7;
    border-color: #11CBD7;
    border-radius: 4px;
    font-weight: 600
}
.formft4wqz7r3sf .btn-primary:hover,
.formft4wqz7r3sf .btn-primary:not(:disabled):not(.disabled):active,
.formft4wqz7r3sf .btn-primary:focus {
color: black;
background-color: #11CBD7;
border-color: #11CBD7
}
/* #fedrick(formft4wqz7r3sf) #css starts */
/*****fedrick*****/

/*****fanta*****/
/* #fanta(f439c65adee997571) #css starts */
.footerf439c65adee997571 .footer-wrap {
    overflow: hidden
}
.footerf439c65adee997571 .footer-wrap p {
    font-size: 18px
}
.footerf439c65adee997571 .footer-wrap h3 {
    font-size: 18px
}
.footerf439c65adee997571 .footer-links li a {
    font-size: 16px
}
.footerf439c65adee997571 .footer-category li a {
    font-size: 16px
}
/* #fanta(f439c65adee997571) #css ends */
/*****fanta*****/